@keyframes show-title {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -webkit-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
@-moz-keyframes show-title {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -webkit-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
@-webkit-keyframes show-title {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -webkit-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
@-o-keyframes show-title {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    -moz-transform: translate(0, -50px);
    -webkit-transform: translate(0, -50px);
    -o-transform: translate(0, -50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
  }
}
html {
  height: 100%;
}

body {
  height: 100%;
  background: -webkit-linear-gradient(left top, #94a7cf, #fac9cc);
  background: -o-linear-gradient(bottom right, #94a7cf, #fac9cc);
  background: -moz-linear-gradient(bottom right, #94a7cf, #fac9cc);
  background: linear-gradient(to bottom right, #94a7cf, #fac9cc);
}

.index-view {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.passage-intro {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: 20px 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.passage-intro .intro {
  width: 100%;
  height: 150px;
  font-size: 24px;
  box-shadow: 0px 3px 10px 1px #aeaeae;
  -moz-box-shadow: 0px 3px 10px 1px #aeaeae;
  -webkit-box-shadow: 0px 3px 10px 1px #aeaeae;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: #fafafa;
}
.passage-intro .intro:hover .title {
  transform: translate(25%, 0);
  -ms-transform: translate(25%, 0);
  -moz-transform: translate(25%, 0);
  -webkit-transform: translate(25%, 0);
  -o-transform: translate(25%, 0);
}
.passage-intro .intro:hover .passage-content {
  opacity: 1;
}
.passage-intro .intro .title {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show-title 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  -webkit-animation: show-title 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transition: transform cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -moz-transition: -moz-transform cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -webkit-transition: -webkit-transform cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -o-transition: -o-transform cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
}
.passage-intro .intro .passage-content {
  position: relative;
  top: -150px;
  width: 50%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  font-size: 16px;
  background-color: #eaeaea;
  transition: opacity cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -moz-transition: opacity cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -webkit-transition: opacity cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
  -o-transition: opacity cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
}
.passage-intro .intro p {
  margin: 0;
}
.passage-intro .big-number {
  width: 100%;
  height: 50px;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  overflow: hidden;
  font-family: Tahoma;
  font-size: 4em;
}
@media screen and (min-width: 767px) {
  .passage-intro {
    width: 80%;
  }
  .passage-intro .intro {
    height: 240px;
    font-size: 32px;
    box-shadow: 0px 5px 20px 3px #aeaeae;
    -moz-box-shadow: 0px 5px 20px 3px #aeaeae;
    -webkit-box-shadow: 0px 5px 20px 3px #aeaeae;
    border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .passage-intro .intro .passage-content {
    font-size: 20px;
    top: -240px;
  }
  .passage-intro .big-number {
    width: 100%;
    height: 80px;
    font-size: 6em;
  }
}
@media screen and (min-width: 992px) {
  .passage-intro {
    width: 60%;
  }
  .passage-intro .intro {
    height: 300px;
    font-size: 40px;
  }
  .passage-intro .intro .passage-content {
    font-size: 24px;
    top: -300px;
  }
  .passage-intro .big-number {
    width: 100%;
    height: 100px;
    font-size: 8em;
  }
}
