@import "mixin";

//  regist fonts
@font-face {
font-family: Roboto Light;
src: url('../font/Roboto-Light.ttf')
}
@font-face {
font-family: Roboto;
src: url('../font/Roboto-Regular.ttf')
}
@font-face {
font-family: Roboto Thin;
src: url('../font/Roboto-Thin.ttf')
}


html, body {
    padding: 0;
    margin: 0;
    font-family: Roboto Light, Microsoft YaHei, Arial;
}

.fh {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}