<link rel="stylesheet" href="/passage/views/css/passage.css">

<div class="background"></div>
<div ng-controller="PassageController" class="passages-part">
    <div ng-repeat="passage in passages" class="passages">
        <div class="title-part">
            <p class="title">{{passage.title}}</p>
            <p class="tags">
                <span ng-repeat="tag in passage.tags" class="tag">
                    {{tag}}
                </span>
            </p>
            <p class="time">{{passage.date}}</p>
        </div>
        <div class="main-part" ng-bind="passage.content">
        </div>
    </div>
</div>