<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <section ng-include="/passage/views/passage.client.view.html"></section>

    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/passage/passage.client.moduel.js"></script>
    <script type="text/javascript" src="/application.js"></script>
</body>
</html>